body {
    background: url('../theglobe.png') no-repeat center fixed;
    background-size: cover;
    font-family: cursive;
    font-size: 30px;
}

#nav-mobile {
    font-family: cursive;
}

.collapsible {
    border:black;
    font-size: 22px;
    height: 50px;
}

.brand-logo {
    cursor: default;
}

.navbar {
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.shakes-container {
    top: 100%;
}

#shakesBtn {
    background-image: url('../shakes2.png');
    border: black;
    top:38%;
    left:7%;
    background-color: black;
    position: absolute;
    width: .05px;
    height: .05px;
    cursor: grab;
}

#translateButton {
    top:70%;
    left:45%;
    width:150px;
    height:60px;
    position: absolute;
    z-index: 2;
    background: rgb(0, 110, 110); 
    color: white;
    font-family: cursive;
    font-size: 30px;
    cursor: pointer;
    }

 #inputTxt {
    top:70%;
    left:15%;
    width:300px;
    height:60px;
    position: absolute;
    background: white; 
    color: black;
    font-family: cursive;
    font-size: 30px;
 }  

 #outputTxt {
     top: 70%;
     right: 14%;
     width:300px;
     height:60px;
     position: absolute;
     background: white; 
     color: black;
     font-family: cursive;
     font-size: 30px;
 } 

 ::placeholder {
    text-align: center;
}
 
 input:focus{
     outline-color: rgb(0, 110, 110);
 }
